*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

@font-face{
    font-family: "bask";
    src: url(BASKVILL.TTF);

}

@font-face {
    font-family: "mons";
    src: url("fonts/MONTSERRAT-EXTRABOLD.TTF");
}

@font-face {
    font-family: "Modak";
    src: url("fonts/MODAK-REGULAR.TTF");
}

@font-face {
    font-family: "MENTRA regular";
    src: url("fonts/MENTRA.OTF");
}

@font-face {
    font-family: "dunno";
    src: url("fonts/GLSNECB.TTF");
}



hmtl,body{
    height:100vh;
    width:100%;
}
#page1{
    width:100%;
    height:100%;
    background-color:#dadada;
    position:relative;
}
#cursor{
    height:7vw;
    width:7vw;
    border-radius:50%;
    position:fixed;
    z-index:9;
    background-color:#FF5F38;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.cursor-image{
    height:8vw;
    width:8vw;
    object-fit:cover;

}

#page1 video{
    width:100%;
    height:100vh;
    object-fit:cover;
    position:absolute;
    
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}
#page1-content{
    height:100vh;
    width:100%;
    position:relative;
    z-index:10;
    display:flex;
    align-items:center;
    color:#ffff;
    flex-direction:column;
    justify-content:space-between;
    -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;

  
}

nav{
    width:100%;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3vw 3vw;
    
}
nav h3{
    font-size:1.6vw;
    font-family: "MENTRA regular";
    font-weight:50;
    letter-spacing: 3px;
  
}
nav h4{
    font-size:1.4vw;
    font-family: "MENTRA regular";
    font-weight:50;
    letter-spacing: 3px;
}
#page1-content h1{
    font-size:20vw;
    font-family: "Modak";
    font-weight:20;
    letter-spacing:20;
    padding:0px;
    padding-top :35vh;
    margin: 0!important;
   
    
}


#page1-content span{
    font-size:22vw;
    font-family: "Modak";
    font-weight:20;
    letter-spacing:20; 
    padding:0px;
    margin: 0!important;
    line-height:0px;
    display:inline-block;
   
    
}
#page2{
    width:100%;

    background-color:#fff;

    font-family:"BASVILL" ;
}

#page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    
    border-bottom: 1px solid #00000092;
}

#page2-top h3{
    font-size:1.7vw;
    font-weight:500;
    width:26%;
    font-family:"BASVILL" ;
}
#page2-top h4{
    font-size:1.7vw;
    font-weight:500;
    font-family:"BASVILL" ;
}

.elem{
    overflow:hidden;
}
.elem h1{
    font-size:4.2vw;
    font-family:"BASVILL" ;
    font-weight:500;
}

#page3{
    min-height:100vh;
    width:100%;
    background-color:#fff;
    font-family:"bask";
    position:relative;
    justify-content:center;
    align-items:center; 
    padding:5vw 10vw ;
}
#page3-top{
    text-align: center;
    font-family:"bask";
    gap:20px;
    position:relative;
}
#page3-top h4{
margin-bottom:1vw;
font-size:2vw;
font-weight:500;
font-family:"bask";
}
#page3-top h4 span{
    font-size:1.2vw;
    font-weight:500;
    background-color:black;
    color:white;
    padding: 4px 8px;
    border-radius: 20px;
    font-family:"bask";
    }
    #page3-top h4 span:hover{
        font-size:1.2vw;
        font-weight:500;
        background-color:red;
        color:white;
        padding: 4px 8px;
        border-radius: 20px;
        font-family:"bask";
        cursor: pointer;
        
        }


#page3-top h2{
    margin-bottom:1vw;
    font-size:5vw;
    font-weight:500;
    font-family:"bask";

    }
    #page3-elements{
        height:75vh;
        width:100%;
     
        display:flex;
        align-items:center;
        justify-content:space-between;
        marign-top:10vw;
    }
    #page3-elements .box{
        height:100%;
        width:32.5%;
        border-radius:100;
        position:relative;
    }
    #page3-elements .box video{

        height:100%;
        width:100%;
        object-fit:cover;
        object-position:center;
  
        
    }
    #page3-elements .box img{
        height:100%;
        width:100%;
        object-fit:cover;
        object-position:center;
        border-radius:100;
        position:absolute;
    }
    #page3-elements .box:hover img{
       opacity:0;
        transition: all linear 0.7s; 
    }
#page4{
    height:100vh;
    width:100%;
    background-color:black;
    font-family:"bask";
    align-items: center;
    display:flex;
    justify-content: center;
  
}    
#page4 video{
    height:100%;
}
#page5{
    height:100vh;
    width:100%;
    background-color:#fff;
    font-family:"mons";
    padding: 4vw 0vw;
    position: relative;
    font-size: 7vw;


}
#page5 h1{
    font-size: 10vw;
    font-weight: 500;
    border-bottom: 1px solid black;
    width:96%;
    margin:2%;

    
}
#swiperjs{
height: 60vh;
width:100%;

position:relative;
}
.swiper {
    width: 130%;
    height: 100%;
    margin-top:-5%;
  }

  .swiper-slide {
    width:400px ;
    text-align: center;
    font-size: 18px;
  
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom:10vw;
  }

  .swiper-slide img {
    display: block;
    width: 19%;
    
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
  #loader{

    height:100%;
    width:100%;
    background-color:black;
    position:fixed;
    z-index:99;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-family:mons;
    gap:10px;
    font-weight:100;

  }
  #loader h3{
    font-size:4vw;
  }

  #footer{
    height:10vh;
    width:100%;
    display:flex;
    justify-content:center;
    gap:100px;
    font-size:2vw;
    font-family:dunno;
    margin-bottom:-100px;
    decoration:none !important; 
    
  }
  #page6{
    position:relative;
    z-index:4;
    height:100vh;
    width:100%;
  }

  .Batmantext{
    position:absolute;
    font-size:6rem;
    justify-content:center;
    font-family: "MENTRA regular";
    z-index:5;
    text-color:white;
  }
  .block {
    position:absolute;
    height: 50px;
    width: 150px;
    background-color:#FF2C3D ;
    z-index:5;
    bottom: 8px;
    right: 16px;
   
  }
  .Batmantext2{
    position:absolute;
    font-size:6rem;
    justify-content:center;
    font-family: "MENTRA regular";
    z-index:6;
    text-color:white;
    bottom: 8px;
    right: 16px;
  }